.cart_product__section{
    display: flex;
    gap: 0.5em;
    background-color: rgb(242, 249, 255);
    padding: 0 0.5em;
    
}

.cart_content_inf_product{
    margin-top: 0.5em ;
    display: flex;
    gap: 1em;
}

.cart_inf_price_product::before{
    content: "$";
}

.cart_inf_cuantity_product::before{
    content: "und: ";
}
.cart_option_product{
    display: flex;
    margin-left: 90%;
}

.cart_option_product>*{
    margin:0 0.3em;
    font-size: 1.6rem;
    cursor: pointer;
}

.cart_option_product>*:hover{
    filter: brightness(2);
    scale: calc(1.2);
}

.delete{
    color: rgb(251, 22, 22);
}

.add{
    color: rgb(0, 34, 255);
}

.subtract:hover{
    color: #141414;
}